
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h3>BIENVENIDO</h3></center>

@using (Html.BeginForm("Resultado", "Notas", FormMethod.Post))
{

    <div class="row">
        <center>
            <div class="form-group">
                <label>Nombre Estudiante:</label>
                <input  type="text" name="nombre" required placeholder="Escribe tu nombre" />
            </div>

            <div class="form-group">
                <label>Laboratorio I:</label>
                <input type="text" name="notaLab1" required placeholder="Laboratorio I" />
            </div>
            <div class="form-group">
                <label>Laboratorio II:</label>
                <input type="text" name="notaLab2" required placeholder="Laboratorio II" />
            </div>
            <div class="form-group">
                <label>Laboratorio III:</label>
                <input type="text" name="notaLab3" required placeholder="Laboratorio III" />
            </div>
            <div class="form-group">
                <label>Parcial I :</label>
                <input type="text" name="notaPar1" required placeholder="Parcial I">
            </div>
            <div class="form-group">
                <label>Parcial II :</label>
                <input type="text" name="notaPar2" required placeholder="Parcial II">
            </div>
            <div class="form-group">
                <label>Parcial III :</label>
                <input type="text" name="notaPar3" required placeholder="Parcial III">
            </div>
            <button type="submit" button class="btn btn-success">Ingresar</button>
        </center>
    </div>




}
